

.font-raleway {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
}

#nav{
    display: flex;
    justify-content: space-between;
    
    padding: 0 50px 0 50px; }
.nav-icon{height: 42px;width: 100px; margin: 9px;}
.nav-menu {
    display: flex;
    list-style: none;
    gap: 32px; }
.nav-menu a{
    color: black;
   text-decoration: none; 
   align-items: center;
   width: 365px;
   height: 24px;}
.button1{
margin-top: 12px;
margin-bottom: 12px;
background-color: #30b868;
border: none;
border-radius:4px ;}
.button1:hover{background-color: peru;}
.fa-regular fa-circle-dot{
    color: #30b868;height:20px
}
.btn2{
    border-radius: 50px;border: none;justify-content: center;align-items: center;display: flex;padding: 10px 10px 10px 10px;
    color: #30b868;background-color: rgb(255 255 255 1);}

#banner{
    justify-content: center;
    align-items: center;
    display: flex;
    text-align: center;
    flex-direction: column;
    /*width: 1600px auto;*/
    height: 674px;
    gap: 40;
    background-image: url(./assets/hero-bg.png);
    
}
.btn3{padding: 20px 20px 20px 20px;
background-color:#30b868 ;border: none;border-radius:4px;
color: rgb(255, 255, 255,1);}
.btn3:hover{background-color: peru;}
.btn4{padding: 18px 18px 18px 18px;border-top-color: white; border-bottom-color: white;border-inline-start-color: white; border-inline-end-color:white;border-radius:4px;
     background-color: transparent;color: antiquewhite;}
.btn4:hover{background-color:#30b868;color: white;border: none;}

.heading{justify-content: center;text-align: center; padding-top: 20px;}

.skill-box{
    display: flex;
    text-align: center;
    justify-content: space-evenly;
    gap: 60px;
  
   
}

.skill-card1{
    padding: 70px 10px 20px;
    border: 0px solid;
    max-width: 300px;
   /* box-shadow:0 0 15px 2px ;*/
    background-color: white;
    border-radius: 5px
}
.skill-card2{
    padding: 70px 10px 20px;
    border: 0px solid;
    max-width: 300px;
    /*box-shadow: 0 0 15px 2px ;*/
    background-color: white;
    border-radius: 5px
}
.skill-card3{
    padding: 70px 10px 20px;
    border: 0px solid;
    max-width: 300px;
   /* box-shadow: 0 0 15px 2px  ;*/
    background-color: white;
    border-radius: 5px
}
.skill-card4{
    padding: 70px 10px 20px;
    border: 0px solid;
    max-width: 300px;
   /* box-shadow: 0 0 15px 2px  ;*/
    background-color: white;
    border-radius: 5px;
}

.skill-card1 img{background-color: red;border-radius: 50% ;height: 40px;width: 40px;padding: 10px;
}
.skill-card2 img{background-color: red;border-radius: 50% ;height: 40px;width: 40px; padding: 10px
}.skill-card3 img{background-color: red;border-radius: 50% ;height: 40px;width: 40px;padding: 10px
}.skill-card4 img{background-color: red;border-radius: 50% ;height: 40px;width: 40px;padding: 10px
}
#knowledge{
    display: flex;
    justify-content: center;
}
.knwl{
    margin-top: 50px  ;
    margin-bottom: 30px;
}
.LK{
    padding-top: 10px;
    margin-top: 130px;
    margin-left: 50px;
    margin-right: 120px;
}
.c1,.c2,.c3,.c4{
    display: flex;
    align-items: center;
    gap: 10px;
}
.i1{
    height: 25px;
    width: 25px;
}
#EP{
text-align: center;   
padding: 50px 120px 50px;
margin: 20px 120px 50px;
}
.btn5{
padding: 20px 20px 20px 20px;
background-color:#30b868 ;border: none;
color: rgb(255, 255, 255,1);border-radius:4px
}
.btn5:hover{background-color: peru;}
#last1{
    display: flex;
    justify-content: space-between;
    padding-top: 40px;
    padding-bottom: 40px;
}
#footer{
    /* margin-left: none; */
    padding-top: 50px;
}
.f-icon{
    margin-top: 15px;
    margin-left: 200px;
}
.scl{
    padding-right: 200px;
}
#last{
    padding: 0 120px 0;
}
.cw{
    text-align: center;
    padding: 30px;
}