#nav{
    display: flex;
    justify-content: space-between;
    }
.nav-menu {
    display: flex;
    list-style: none;
    gap: 32px; }
.nav-menu a{
    color: black;
   text-decoration: none; 
   align-items: center;
   width: 365px;
   height: 24px;}
.button1{
margin-top: 12px;
margin-bottom: 12px;
background-color: #30b868;
border: none;
border-radius:4px ;}
.button1:hover{background-color: peru;}


